.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        .title 
          Funcionários
          = link_to "Adicionar Funcionário", new_staff_path, class: 'pull-right'
        %hr/
      .panel-body
        .row
          .col-md-12
            = simple_form_for staffs_path, method: :get do |f|
              .row
                .col-md-2
                  = f.input :contract, as: :select, label: "Contrato", collection: Commercial::Contract.all.order(:title).map { |key| [key.title.upcase, key.id]}, selected: params[:by_contract], include_blank: "Todos", input_html: { name: 'by_contract' }
                .col-md-2
                  = f.input :status, as: :select, label: "Situação", collection: Deal::Purchase.statuses.map { |key, value| [key.upcase, value]}, selected: params[:status], include_blank: "Todos", input_html: { name: 'status' }
                .col-md-2{style: 'margin-top: 30px'}
                  = f.submit "Filtrar Funcionários", name: nil, class: 'btn btn-success'
        .row
          .col-md-12
            %table.table.table-condensed.table-hover.table-bordered.table-striped.datatable
              %thead
                %tr
                  %th Matrícula
                  %th Nome
                  %th CPF
                  %th Contrato
                  %th Cargo
                  %th Situação
                  %th Data de contratação
                  %th Ações
              %tbody
                - @staffs.each do |staff|
                  %tr 
                    %td= staff.code
                    %td= staff.name
                    %td= staff.cpf
                    %td= staff.contract.title if staff.contract.present?
                    %td= staff.job.title if staff.job.present?
                    %td= staff.situation
                    %td= staff.admission.strftime('%d/%m/%Y') if staff.admission.present?
                    %td.col-md-2
                      = link_to "", edit_staff_path(staff), class: 'btn btn-success btn-sm s7-edit'
                      = link_to "", staff_attachments_path(staff), class: 'btn btn-success btn-sm s7-edit'
                      = link_to "", staff_annotations_path(staff), class: 'btn btn-success btn-sm s7-edit'

