= simple_form_for @moviment do |f|
  .row
    .col-md-3
      = f.association :current_contract, as: :select, collection: Commercial::Contract.all, include_blank: false
    .col-md-3
      = f.input :moviment_type, as: :select, collection: Deal::PatrimonyMoviment.moviment_types.keys.to_a, include_blank: false
  .row
    .col-md-8
      = f.input :responsible
  .row
    .col-md-8
      = f.input :observation
  .row
    .col-md-8
      = f.association :items, as: :select, collection: Deal::Patrimony.all.order(:title), input_html: { multiple: 'multiple',class: 'select2'}
  %hr/
  .row
    .col-md-12
      = f.submit "Criar movimentação", class: 'btn btn-success btn-sm'
      = link_to "Voltar", patrimonies_path, class: 'btn btn-default btn-sm'