.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        .title
          Movimentações
          %span.pull-right
            = link_to "Ver Patrimônios", patrimonies_path
            |
            = link_to "Nova Movimentação", new_patrimony_moviment_path
      .panel-body
        .adv-table   
          .row
            .col-md-12
              = simple_form_for patrimony_moviments_path, method: :get do |f|
                .row
                  .col-md-2
                    = f.input :date_start, label: "Data início", input_html: { name: 'by_period[date_start]', class: 'date', value: (params[:by_period].present?) ? params[:by_period][:date_start] : Date.today.beginning_of_month.strftime('%d/%m/%Y')} 
                  .col-md-2
                    = f.input :date_end, label: "Data fim", input_html: { name: 'by_period[date_end]', class: 'date', value: (params[:by_period].present?) ? params[:by_period][:date_end] : Date.today.end_of_month.strftime('%d/%m/%Y')}
                  .col-md-2
                    = f.input :contract, as: :select, label: "Contrato", collection: Commercial::Contract.all.order(:title).map { |key| [key.title.upcase, key.id]}, selected: params[:contract], include_blank: "Todos", input_html: { name: 'contract' }
                  .col-md-2
                    = f.input :moviment_type, as: :select, label: "Tipo", collection: Deal::PatrimonyMoviment.moviment_types, selected: params[:moviment_type], include_blank: "Todos", input_html: { name: 'moviment_type' }
                  .col-md-2{style: 'margin-top: 30px'}
                    = f.submit "Filtar Ações", name: nil, class: 'btn btn-success'       
          .row
            .col-md-12
              %table.table.table-bordered.table-striped.datatable
                %thead
                  %tr
                    %th Contrato Destino
                    %th Observação
                    %th Data
                    %th Tipo
                    %th Responsável
                    %th Patrimônios
                    %th
                %tbody
                  - @moviments.each do |moviment|
                    %tr
                      %td= moviment.current_contract.title if moviment.current_contract.present?
                      %td= moviment.observation
                      %td= moviment.created_at.strftime('%d/%m/%Y')
                      %td= moviment.moviment_type
                      %td= moviment.responsible
                      %td= link_to "visualizar items | #{moviment.view_items.count}", patrimony_moviment_view_path(moviment), remote: true
                      %td