.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        .title Detalhe de Pedido - #{@order.id}/#{@order.created_at.strftime('%Y')}  
        %hr/
      .panel-body
        .row.title-row
          .col-md-12
            %h4  Atualizar Pedido - #{@order.id}/#{@order.created_at.strftime('%Y')}
        .row
          .col-md-12
            = render 'form'

        %hr/
        .row
          .col-md-12
            %table.table.table-striped.table-bordered.table-condensed
              %thead
                %tr
                  %th Descrição
                  %th Arquivo
              %tbody
                %tr
                  %td.col-md-5= @order.description
                  %td.col-md-3= link_to "Baixar", @order.pdf.url, target: '_blank' if @order.pdf?
            %table.table.table-striped.table-bordered.table-condensed
              %thead
                %tr
                  %th Contrato
                  %th Solicitante
                  %th Data
                  %th Número
                  %th Status
              %tbody
                %tr
                  %td.col-md-3= @order.contract.title if @order.contract.present?
                  %td.col-md-3= @order.user.name if @order.user.present?
                  %td.col-md-2= "#{@order.created_at.strftime('%d/%m/%Y às %H:%M')}"
                  %td.col-md-1= "#{@order.id}/#{@order.created_at.strftime('%Y')}"
                  %td.col-md-1= status_helper @order.status
        .row
          .col-md-12
            %h4 Produtos
        %hr/
        .row
          .col-md-12
            %table.table.table-striped.table-bordered.table-condensed
              %thead
                %tr
                  %th Produto
                  %th Unidade
                  %th Quantidade
                  %th Ḿáquina
                  %th Ḿáquina Versão
                  %th Ḿáquina Serial
                  %th Valor de Contrato
                  %th Imagem
              %tbody
                - @order.order_items.each do |order|
                  %tr
                    %td= order.product.title
                    %td.col-md-1= order.unit
                    %td.col-md-1= order.quantity
                    %td.col-md-2= order.machine_id
                    %td.col-md-2= order.machine_version
                    %td.col-md-2= order.machine_serial
                    %td.col-md-2= number_to_currency order.contract_value
                    %td
                      - if order.image_path.present?
                        = link_to "Baixar", order.image_path_url, target: '_blank'  
                      - else
                        Sem imagem
        .row
          .col-md-12
            %h4
              Comentários
              = link_to "Novo Comentário", new_control_order_order_comment_path(@order), remote: true, class: 'pull-right'
        %hr/
        .row
          .col-md-12
            %table.table.table-striped.table-bordered.table-condensed
              %thead
                %tr
                  %th Usuário
                  %th Messagem
                  %th Data
              %tbody
                - @order.order_comments.each do |comment|
                  %tr
                    %td= comment.user.name.humanize if comment.user.present?
                    %td= comment.content
                    %td= comment.created_at.strftime("%d/%m/%Y às %H:%M")
                  
