.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        .title
          Listagem de patrimônios
          %span.pull-right
            = link_to "Movimentar Patrimônio", new_patrimony_moviment_path
            |
            = link_to "Novo Patrimônio", new_patrimony_path
      .panel-body
        .adv-table     
          .row
            .col-md-12
              = simple_form_for patrimonies_path, method: :get do |f|
                .row
                  .col-md-2
                    = f.input :contract, as: :select, label: "Contrato", collection: Commercial::Contract.all.order(:title).map { |key| [key.title.upcase, key.id]}, selected: params[:by_contract], include_blank: "Todos", input_html: { name: 'by_contract' }
                  .col-md-2{style: 'margin-top: 30px'}
                    = f.submit "Filtrar Compras", name: nil, class: 'btn btn-success'     
          .row
            .col-md-12
              %table.table.table-bordered.table-striped.datatable
                %thead
                  %tr
                    %th Centro de Custo
                    %th Tombamento
                    %th Descrição
                    %th Localização
                    %th Quantidade
                    %th Valor estimado
                    %th Valor total
                    %th Data de Compra
                    %th Estado
                    %th Ações
                %tbody
                  - @patrimonies.each do |patrimony|
                    %tr
                      %td= patrimony.contract.title if patrimony.contract.present?
                      %td= patrimony.code
                      %td= patrimony.description
                      %td= patrimony.location
                      %td= patrimony.quantity
                      %td= number_to_currency patrimony.estimated_value
                      - if patrimony.estimated_value.present? && patrimony.quantity.present?
                        %td.col-md-2= number_to_currency (patrimony.estimated_value * patrimony.quantity)
                      - else
                        %td 
                      %td= patrimony.buy_date.strftime('%d/%m/%Y') if patrimony.buy_date.present?
                      %td= patrimony.state
                      %td.col-md-1
                        = link_to "", edit_patrimony_path(patrimony), class: 'btn btn-success btn-sm s7-edit', title: "Editar"
                        = link_to "", patrimony_path(patrimony), method: :delete, data: { confirm: t(:confirm_destroy)}, class: 'btn btn-danger btn-sm s7-trash', title: "Remover"
                 