.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        .title
          Listagem de patrimônios
          = link_to "novo patrimônio", new_patrimony_path, class: ' pull-right'
        %hr/
      .panel-body
        .adv-table          
          .row
            .col-md-12
              %table.table.table-bordered.table-striped.datatable
                %thead
                  %tr
                    %th Contrato
                    %th Título
                    %th Descrição
                    %th Localização
                    %th Valor original
                    %th Valor estimado
                    %th Estado
                    %th Ações
                %tbody
                  - @patrimonies.each do |patrimony|
                    %tr
                      %td= patrimony.contract.title if patrimony.contract.present?
                      %td= patrimony.title
                      %td= patrimony.description
                      %td= patrimony.location
                      %td= number_to_currency patrimony.original_value
                      %td= number_to_currency patrimony.estimated_value
                      %td= patrimony.state
                      %td.col-md-2
                        = link_to "", edit_patrimony_path(patrimony), class: 'btn btn-primary btn-sm icon-edit', title: "Editar"
                        = link_to "", patrimony_path(patrimony), method: :delete, data: { confirm: t(:confirm_destroy)}, class: 'btn btn-danger btn-sm icon-remove', title: "Remover"
                 