= simple_form_for @inventory do |f|
  .row
    .col-md-10
      = f.label :product_title
      = f.text_field :product_title, data: {autocomplete_source: products_path}, id: 'product_title', class: 'product_title form-control', autocomplete: 'on'
  %hr/
  .row
    .col-md-2
      = f.input :unit, as: :select, collection: ['UN', 'CX', 'MT', 'CM', 'LT', 'KG'], include_blank: false
    .col-md-2
      = f.input :quantity, as: :string
    .col-md-2
      = f.input :estimed_value, as: :string, input_html: { class: 'coin_mask'}
    .col-md-2
      = f.input :state, as: :select, collection: Deal::Inventory.states.keys.map { |key| [key.humanize, key]}, include_blank: false
  .row
    .col-md-4
      = f.input :observation
    .col-md-4
      = f.input :location
  %hr/
  .row
    .col-md-4
      = f.label :image_path
      = f.input :image_path, label: false, as: :file
    .col-md-4
      = image_tag f.object.image_path, width: 50
  %hr/
  .row
    .col-md-12
      = f.submit "Adicionar Item", class: 'btn btn-success btn-sm'
      = link_to "Voltar", inventories_path, class: 'btn btn-default btn-sm'

:javascript
  $(document).ready(function() {
    $('.product_title').autocomplete({source: $('#product_title').data('autocomplete-source')});
  })