.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        .title
          Listagem Ações no Estoque
          %span.pull-right
            = link_to "Ver Estoque", inventories_path
            |
            = link_to "Nova Entrada", add_item_inventories_path
            |
            = link_to "Nova Saída", remove_item_inventories_path

      .panel-body
        .adv-table          
          .row
            .col-md-12
              %table.table.table-bordered.table-striped.datatable
                %thead
                  %tr
                    %th Tipo
                    %th Quantidade
                    %th Data/Hora
                    %th Item
                    %th Descrição
                    %th Responsável
                %tbody
                  - @inventory_logs.each do |log|
                    %tr
                      %td.col-md-1
                        - if log.log_type == 'entrada'
                          %span.label.label-success
                            = log.log_type.humanize if log.log_type.present?
                        - else
                          %span.label.label-warning
                            = log.log_type.humanize if log.log_type.present?
                      %td.col-md-2= log.quantity
                      %td.col-md-2= log.created_at.strftime('%d/%m/%Y às %H:%M')
                      %td.col-md-3
                        - if log.inventory.present? && log.inventory.product.present?
                          = log.inventory.product_title 
                        - else
                          Item excluído
                      %td.col-md-3= log.description
                      %td.col-md-2= log.name
             