= simple_form_for @quotation do |f|
  .row
    .col-md-3
      = f.association :contract, as: :select, include_blank: false
    .col-md-3
      = f.association :order, as: :select, prompt: "selecione..."
  .row
    .col-md-8
      = f.input :description
  .row
    .col-md-2
      = f.input :status, as: :select, collection: Deal::Quotation.statuses.keys.to_a, include_blank: false
  %hr/
  .row
    .col-md-12
      = f.button :submit, class: 'btn btn-success btn-sm'
      = link_to "Voltar", quotations_path, class: 'btn btn-default btn-sm'