.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        %b Meus Pedidos
      .panel-body
        .adv-table
          .row
            .col-md-12
              %table.table.table-bordered.table-striped.datatable
                %thead
                  %tr
                    %th Descrição
                    %th Status
                    %th Realizado em
                    %th Contrato
                    %th Ações
                %tbody
                  - @orders.each do |order|
                    %tr
                      %td= order.description
                      %td.col-md-2= status_helper order.status
                      %td.col-md-2= order.created_at.strftime("%d/%m/%Y às %H:%M")
                      %td.col-md-2= order.contract.title if order.contract.present?
                      %td.col-md-2
                        = link_to "visualizar", order_path(order), class: 'btn btn-primary btn-xs'