= simple_form_for @purchase do |f|
  - if !f.object.new_record? && @purchase.set_inventory?
    .row
      .col-md-12
        .alert.alert-info
          %b IMPORTANTE!
          Os itens desta compra já foram incluídos no estoque, ao editar esta compra e salvar você deverá verificar se seu estoque está correto.
  .row
    .col-md-2
      = hidden_field_tag :search, params[:search] if params[:search].present?
      = f.input :purchase_type, as: :select, collection: Deal::Purchase.purchase_types.keys.to_a, include_blank: false
    .col-md-2
      = f.input :status, as: :select, collection: Deal::Purchase.statuses.keys.to_a, include_blank: false
    .col-md-2
      = f.input :buy_type, as: :select, collection: Deal::Purchase.buy_types.keys.to_a, include_blank: false
    .col-md-2
      = f.input :created_at, as: :string, input_html: { class: 'date', value: f.object.created_at.nil? ? Date.today.strftime('%d/%m/%Y') : f.object.created_at.strftime('%d/%m/%Y') }
  %hr/
  .row
    .col-md-3
      = f.association :contract, as: :select, prompt: 'selecione...'
    .col-md-2
      = f.association :quotation, as: :select, prompt: 'selecione...'
    .col-md-3
      = f.association :supplier, collection: Deal::Supplier.all.order(:name).map { |key| [key.name.upcase, key.id]} ,prompt: 'selecione...', hint: "#{link_to('adicionar fornecedor', new_supplier_path, remote: true)}".html_safe
    .col-md-2
      = f.input :invoice_number
  .row
    .col-md-2
      = f.input :invoice_file, as: :file
  %hr/
  .row
    .col-md-3
      = f.input :form_payment, as: :select, include_blank: false, collection: Deal::Purchase.form_payments.keys.to_a
    .col-md-2
      = f.input :deadline_payment, placeholder: "Informe um prazo..."
    .col-md-3
      = f.input :delivery, as: :select, include_blank: false, collection: Deal::Purchase.deliveries.keys.map { |key| [key.humanize, key]}
    .col-md-2
      = f.input :freight, as: :select, include_blank: false, collection: Deal::Purchase.freights.keys.to_a
    .col-md-2
      = f.input :icms
  .row
    .col-md-3
      = f.association :carrier, prompt: 'própria'
  %hr/
  .row
    .col-md-3
      = f.input :seller, placeholder: "Digite o nome do vendedor"
    .col-md-3
      = f.input :requester, placeholder: "Digite o nome do solicitante"
  %hr/
  .row
    .col-md-8
      = f.input :description, placeholder: "Digite uma descrição para sua compra"
  %hr/
  .row
    .col-md-12
      = f.simple_fields_for :purchase_items do |builder|
        = render 'purchase_item_fields', f: builder 
      = link_to_add_fields "adicionar produto", f, :purchase_items
  %hr/
  .row
    .col-md-8
      = f.submit "Salvar Compra", class: 'btn btn-success btn-sm'
      = link_to "Voltar", purchases_path, class: 'btn btn-default btn-sm'
