.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        .title Resumo de Compras
        %hr/
        = link_to "+ nova compra", new_purchase_path, class: 'btn btn-success btn-xs pull-left'
      .panel-body
        .row
          .col-md-12
            %table.table.table-condensed.table-hover.table-bordered.table-striped
              %thead
                %tr
                  %th Tipo
                  %th Status
                  %th Contrato
                  %th Descrição
                  %th Fornecedor
                  %th Valor
                  %th Data da Compra
                  %th Ações
              %tbody
                - @total_purchase = 0
                - @purchases.each do |purchase|
                  %tr
                    %td= purchase.purchase_type
                    %td= status_purchase_helper purchase.status
                    %td= purchase.contract.title if purchase.contract.present?
                    %td= purchase.description
                    %td= purchase.supplier.name if purchase.supplier.present?
                    - @total_purchase += purchase.purchase_items.sum(:total_value) if purchase.purchase_items.present?
                    %td= number_to_currency purchase.purchase_items.sum(:total_value)
                    %td= purchase.created_at.strftime('%d/%m/%Y')
                    %td.col-md-2
              %tfoot 
                %tr
                  %th{colspan: 5} Total em Compras
                  %th
                    %h5= number_to_currency @total_purchase