.row.title-row
  .col-md-12
    %h4.title 
      Listagem de contratos
      = link_to "novo contrato", new_contract_path, class: 'btn btn-success btn-sm pull-right'
.row
  .col-md-12
    %table.datatable.table-bordered.table-condensed
      %thead
        %tr
          %th Título
          %th Empresa Responsável
          %th Status
          %th Ações
      %tbody
        - @contracts.each do |contract|
          %tr
            %td= contract.title
            %td= contract.company.name if contract.company.present?
            %td= contract.status ? 'ativo' : 'inativo'
            %td.col-md-2
              = link_to "", edit_contract_path(contract), class: 'btn btn-primary btn-sm icon-edit', title: "Editar"
              = link_to "", contract_path(contract), method: :delete, data: { confirm: t(:confirm_destroy)}, class: 'btn btn-danger btn-sm icon-remove', title: "Remover"
       