.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        %b Listagem de Empresas
        = link_to "Nova Empresa", new_company_path, class: 'btn btn-success btn-xs pull-right'
      .panel-body
        %table.table.table-hover.general-table.table-striped
          %thead
            %tr
              %th Nome
              %th CNPJ
              %th Cidade/UF
              %th CEP
              %th Ações
          %tbody
            - @companies.each do |company|
              %tr
                %td= company.name
                %td= company.cnpj
                %td= "#{company.city.name}/#{company.state.acronym}" if company.city.present? && company.state.present?
                %td= company.cep
                %td.col-md-2
                  = link_to "", edit_company_path(company), class: 'btn btn-primary btn-sm icon-edit', title: "Editar"
                  = link_to "", company_path(company), method: :delete, data: { confirm: t(:confirm_destroy)}, class: 'btn btn-danger btn-sm icon-remove', title: "Remover"
           