%aside
  #sidebar.nav-collapse
    / sidebar menu start
    .leftside-navigation
      %ul#nav-accordion.sidebar-menu
        %li
          %a.active{:href => "#{main_app.root_path}"}
            %i.fa.fa-dashboard
            %span Início
        %li.sub-menu
          %a{:href => "javascript:;"}
            %i.fa.fa-laptop
            %span Acessos
          %ul.sub
            %li
              %a{:href => "#{access.users_path}"} Usuários
            %li
              %a{:href => "#{access.logs_path}"} Log de acessos
        %li.sub-menu
          %a{:href => "javascript:;"}
            %i.fa.fa-book
            %span Comercial
          %ul.sub
            %li
              %a{:href => "#{commercial.companies_path}"} Empresas    
            %li
              %a{:href => "#{commercial.contracts_path}"} Contratos  
        %li.sub-menu
          %a{:href => "javascript:;"}
            %i.fa.fa-th
            %span Compras
          %ul.sub
            %li
              %a{:href => "#{deal.dashboard_path}"} Relatório Geral
            %li
              %a{:href => "#{deal.suppliers_path}"} Fornecedores
            %li
              %a{:href => "#{deal.purchases_path}"} Compras
            %li
              %a{:href => "#{deal.quotations_path}"} Cotações
            %li
              %a{:href => "#{deal.control_orders_path}"} Pedidos
            %li
              %a{:href => "#{deal.inventories_path}"} Estoque
            %li
              %a{:href => "#{deal.patrimonies_path}"} Patrimônio
       