#sidebar-nav
  %ul#dashboard-menu
    %li
      %a{:href => "#{dashboard.root_path}"}
        %i.icon-home
        %span Início
    %li{class: params[:module] == 'access' ? 'active' : ''}
      %a.dropdown-toggle{:href => "#"}
        %i.icon-signin
        %span Acessos
        %i.icon-chevron-down
      %ul.submenu{style: params[:module] == 'access' ? 'display:block;' : ''}
        %li
          %a{:href => "#{access.users_path}"} Usuários
        %li
          %a{:href => "#{access.logs_path}"} Log de acessos
    %li{class: params[:module] == 'commercial' ? 'active' : ''}
      %a.dropdown-toggle{:href => "#"}
        %i.icon-briefcase
        %span Comercial
        %i.icon-chevron-down
      %ul.submenu{style: params[:module] == 'commercial' ? 'display:block;' : ''}
        %li
          %a{:href => "#{commercial.companies_path}"} Empresas    
          %a{:href => "#{commercial.contracts_path}"} Contratos    
    %li{class: params[:module] == 'deal' ? 'active' : ''}
      %a.dropdown-toggle{:href => "#"}
        %i.icon-shopping-cart
        %span Compras
        %i.icon-chevron-down
      %ul.submenu{style: params[:module] == 'deal' ? 'display:block;' : ''}
        %li
          %a{:href => "#{deal.dashboard_path}"} Relatório Geral
          %a{:href => "#{deal.suppliers_path}"} Fornecedores
          %a{:href => "#{deal.purchases_path}"} Compras
          %a{:href => "#{deal.quotations_path}"} Cotações
          %a{:href => "#{deal.control_orders_path}"} Pedidos
          %a{:href => "#{deal.inventories_path}"} Estoque
          %a{:href => "#{deal.patrimonies_path}"} Patrimônio
