!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Entherm - Engenharia de sistemas termomecânicos
    = stylesheet_link_tag    'application', media: 'screen', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'print', media: 'print', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .am-wrapper
      = render 'layouts/nav'
      = render 'layouts/sidebar'
      .am-content
        .page-head
          %h2 White Header
          %ol.breadcrumb
            %li
              %a{:href => "http://themeslivepreview.com/amaretti/layouts-white-header.php#"} Home
            %li
              %a{:href => "http://themeslivepreview.com/amaretti/layouts-white-header.php#"} Layouts
            %li.active White Header
        .main-content
          = yield
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
         