!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Entherm - Engenharia de sistemas termomecânicos
    = stylesheet_link_tag    'application', media: 'screen', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'print', media: 'print', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %section#container
      = render 'layouts/top_nav'   
      = render 'layouts/side_nav' if current_user.simples? || current_user.administrador?
      = render 'layouts/side_nav_request' if current_user.solicitante?
      %section#main-content
        %section.wrapper
          = yield
      #modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
          .modal-content

